<div style="display: flex;margin: auto;position: relative;" [ngStyle]="{'width': width}">
    <canvas style="display: block;"baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      [type]="doughnutChartType">
    </canvas>
    <div *ngIf="dosDigitos==true" class="ContenidoDonaPuntos2">
      <div style="display: flex;flex-direction: column;margin-top: 10px;">
        <span>{{Puntos}} </span>
        <span style="font-size:15px">Puntos</span>
      </div>
    </div>
    <div *ngIf="unDigito==true" class="ContenidoDonaPuntos1">
      <div style="display: flex;flex-direction: column;margin-top: 10px">
        <span>{{Puntos}} </span>
        <span style="font-size:15px">Puntos</span>
      </div>
    </div>
  </div>

